@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/bg-pattern-top.svg');
  background-position: 1%;
  background-size: auto auto;
  background-color: var(--dark-cyan);
  font-family: 'Kumbh Sans', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}

.card {
  max-width: 100%;
  width: 470px;
  height: 530px;
}

.top-bg img {
  width: 500px;
  height: 180px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  transform: translateY(-3em);
}

.card-img img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  max-width: 100%;
}

.card-img h1 {
  margin-top: 15px;
}

.card-img span {
  font-size: 1.3em;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  margin: 5px;
}

.stats-list {
  border-top: 1px solid hsl(0, 0%, 59%);
  padding-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  text-align: center;
}

.stats-list strong {
  font-size: 22px;
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.stats-list span {
  display: block;
  color: var(--dark-grayish-blue);
  font-weight: 700;
  margin: 15px;
}

footer {
  max-width: 100%;
  margin-top: 3em;
}

@media only screen and (max-width: 390px) {
  .card {
    transition: all 1s ease-in-out;
    height: 500px;
    width: 350px;
  }

  .card-img h1 {
    transition: all 1s ease-in-out;
    padding-top: 1.4em;
    font-size: 1.3em;
  }

  .card-img span {
    transition: all 1s ease-in-out;
    font-size: 1em;
  }

  .stats-list {
    transition: all 1s ease-in-out;

    strong {
      transition: all 1s ease-in-out;
      font-weight: 700;
      font-size: 16px;
    }

    span {
      transition: all 1s ease-in-out;
      font-size: 12px;
    }
  }
}